# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# venv
.venv/
venv/
ENV/
env/
ragvenv/
chroma_old_env/

# OS
.DS_Store

# Models and data
models/
data/raw/
data/processed/
*.gguf
*.bin

# Jupyter
.ipynb_checkpoints

# Logs
*.log

#files
*.egg-info/
build/
dist/
eval_runs/
*.jsonl
*.json


# Python packaging
*.egg-info/
build/
dist/
__pycache__/
.pytest_cache/
next.md
