# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# venv
.venv/
venv/
ENV/
env/
ragvenv/
chroma_old_env/

# OS
.DS_Store

# Models and data
models/
data/raw/
data/processed/
data/chunks/
data/chroma_db/
*.gguf
*.bin
*.pdf
*.docx
*.epub
*.pkl
*.sqlite
*.db
.env

# Jupyter
.ipynb_checkpoints

# Logs
*.log

#files
*.egg-info/
build/
dist/
results/
*.jsonl
*.json



# Python packaging
*.egg-info/
build/
dist/
__pycache__/
.pytest_cache/
next.md
results/
logs/
